.my-llm-history-section {
    flex: 1;
    margin-top: 24px;
    opacity: 0;
    overflow: hidden;
    padding: 40px 16px 16px;
}

.my-llm-history-section h4 {
    color: var(--lightmode-font-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

html.dark .my-llm-history-section h4{
    color: var(--darkmode-font-color);
}

.my-llm-sidebar.expanded .my-llm-history-section {
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.2s ease 0.1s;
}

.my-llm-history-item-title {
    font-size: 13px;
}

.my-llm-history-title {
    text-align: center;
}

.my-llm-history-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.my-llm-history-list::-webkit-scrollbar {
    width: 4px;
}

.my-llm-history-list::-webkit-scrollbar-thumb {
    background: var(--bootstrap-button-border);
    border-radius: 3px;
}

.my-llm-history-item {
    border-radius: 12px;
    background: none;
    border: none;
    color: var(--lightmode-font-color);
    text-align: left;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

html.dark .my-llm-history-item {
    color: var(--darkmode-font-color);
}

.my-llm-history-item:hover {
    background: var(--lightmode-lightest);
}

html.dark .my-llm-history-item:hover {
    background: var(--bootstrap-icon-color);
}

.my-llm-history-item-date {
    font-size: 11px;
    color: var(--darkmode-dark);
}

html.dark .my-llm-history-item-date {
    color: var(--lightmode-light);
}