/* IDLE NAVBAR ELEMENT */
.my-navbar-link {
    color: var(--darkmode-darkest);
}

html.dark .my-navbar-link {
    color: var(--lightmode-lighter);
}

/* HOVER NAVBAR ELEMENT */
.my-navbar-link:hover {
    color: var(--lightmode-font-color);             
}

html.dark .my-navbar-link:hover {
    color: var(--darkmode-font-color);             
}

/* SELECTED NAVBAR ELEMENT */
.my-navbar-link.active {
    border-bottom: solid var(--lightmode-font-color) 2px;
    color: var(--lightmode-font-color);
}

html.dark .my-navbar-link.active {
    border-bottom: solid var(--darkmode-font-color) 2px;
    color: var(--darkmode-font-color);
}