.my-password-overlay {
    position: fixed;                                /* Fullscreen overlay */
    top: 0;                                         /* Position at the top */
    left: 0;                                        /* Position at the left */  
    width: 100vw;                                   /* Full width */
    height: 100vh;                                  /* Full height */
    display: flex;                                  /* Flexbox for centering */
    align-items: center;                            /* Center vertically */
    justify-content: center;                        /* Center horizontally */
    backdrop-filter: blur(0.125rem);                /* Blur effect for the background */
    background-color: var(--pfc-transparent-darker);/* Semi-transparent background */
    z-index: 1000;                                  /* High z-index to overlay other content */
}

html.dark .my-password-overlay {
    background-color: var(--pfc-transparent-dark);  /* Semi-transparent background */
}

.my-password-container {
    position: relative;                             /* Relative positioning for the container */
    min-width: 35rem;                               /* Minimum width for the modal */
    padding: 2.5rem;                                /* Padding around the content */
    border-radius: 0.75rem;                         /* Rounded corners */
    text-align: center;                             /* Center text alignment */
    background-color: var(--pfc-white);             /* White background for the modal */
}

html.dark .my-password-container {
    background-color: var(--pfc-black);             /* Dark mode background */
}

.my-password-modal-close-button {
    position: absolute;                             /* Absolute positioning for the close button */
    top: 1rem;                                      /* Position at the top */
    right: 1rem;                                    /* Position at the right */
    padding: 0.5rem;                                /* Padding for the button */
    border: none;                                   /* Remove border */
    font-size: 1.5rem;                              /* Font size for the close button */
    color: var(--pfc-black-lightest);               /* Color for the close button */
    background: none;                               /* No background for the button */
    transition: color 0.3s;                         /* Transition effect for color change */
}

.my-password-modal-close-button:hover {
    color: var(--pfc-black);                        /* Change color on hover */
}

html.dark .my-password-modal-close-button {
    color: var(--pfc-white-darker);                 /* Dark mode color for the close button */
}

html.dark .my-password-modal-close-button:hover {
    color: var(--pfc-white);                        /* Dark mode hover color */
}

.my-password-header {
    margin-bottom: 1.5rem;                          /* Margin below the header */
    font-size: 1.5rem;                              /* Font size for the header */
}

.my-password-form {
    display: flex;                                  /* Flexbox for the form */
    flex-direction: column;                         /* Column direction for form elements */
    gap: 2rem;                                      /* Gap between form elements */
}

.my-password-input-group {
    text-align: left;                               /* Left align text in input group */
}

.my-password-input-group label {
    margin-bottom: 0.5rem;                          /* Margin below the label */
}

.my-password-input {
    width: 100%;                                    /* Full width for the input */
    padding: 0.75rem 1rem;                          /* Padding for the input */
    border-radius: 0.5rem;                          /* Rounded corners for the input */
    border: 0.063rem solid var(--pfc-white-darker); /* Sets the border design */
    background-color: var(--pfc-white-lightest);    /* Sets its background color */
}

html.dark .my-password-input {
    background-color: var(--pfc-black-lighter);     /* Sets its background color */
    color: var(--pfc-white);                        /* Sets the written text color */
}

.my-password-button {
    width: 100%;                                    /* Full width for the button */
    margin-top: 0.5rem;                             /* Margin above the button */
    padding: 0.75rem;                               /* Padding for the button */
    border: none;                                   /* Remove border */
    border-radius: 0.5rem;                          /* Rounded corners for the button */
    background-color: var(--pfc-blue);              /* Sets the buttons background color */
    color: var(--pfc-white);                        /* Sets the buttons text color */
    transition: background-color 0.3s;              /* Transition effect for background color */
}

.my-password-button:hover {
    transform: translateY(-5px);                    /* Makes the forms come up when hovered */
    background-color: var(--pfc-dark-blue);         /* Sets the forms background in darkmode */
}

.my-password-error {
    color: var(--pfc-red);                          /* Red color for error messages */
}