/* TECHSTACK CONTAINER */
.my-project-techstack-input-container {
    display: flex;                                  /* Sets the elements on one row */
}

/* TECHSTACK INPUT FIELD */
.my-project-techstack-input-container input[type="text"] {
    width: 25%;                                     /* Sets the input field size */
    margin-right: 0.625rem;                         /* Sets the distance to the bubbles */
    border: 0.063rem solid var(--pfc-white-darker); /* Sets the border design */
    border-radius: 0.25rem;                         /* Sets the corners curvature */
    flex-shrink: 0;                                 /* Makes the input field not shrinked by large bubble list */
}

/* TECHSTACK ERROR */
.my-project-techstack-error {
    margin-top: 0.313rem;                           /* Sets the distance to the techstack message */
    color: var( --pfc-red);                         /* Sets the text color of the error message */
}