/* UPLOAD LABEL */
.my-project-file-upload-label{
    margin-bottom: 0.5rem;                                  /* Margin to the drop down section */
    font-weight: bold;                                      /* Sets the text to bold */
}

html.dark .my-project-file-upload-label{
    color: var(--pfc-white);                                /* Sets the text color to white in darkmode */
}

/* UPLOAD CONTAINER */
.my-project-file-upload-drop-zone {
    display: block;                                         /* Cover the whole area of its parent */
    height: 21.875rem;                                      /* Unclean set size */
    justify-content: center;                                /* Centers its children */
    align-items: center;                                    /* Centers its children */
    padding-top: 7.813rem;                                  /* Sets distance to border */
    border: 0.125rem dashed var(--pfc-white-darker);        /* Sets the border design */
    border-radius: 0.75rem;                                 /* Sets the corner curveture */
    background-color: var(--pfc-white-lightest);            /* Sets its background color */
    text-align: center;                                     /* Centers its text */
}

html.dark .my-project-file-upload-drop-zone{
    background-color: var(--pfc-black-lighter);             /* Sets its background color in darkmode */
}

.my-project-file-upload-drop-zone.my-project-file-upload-has-error {
    padding-top: 9.375rem;                                  /* Unclean set size on error */
    padding-bottom: 15rem;                                  /* Unclean set size on error */
    border-color: var(--pfc-red);                           /* Turn the border red on error */
    background-color: var(--pfc-transparent-red);           /* Turn the background light red on error */
}

.my-project-file-upload-drop-zone.my-project-file-upload-has-file {
    border-color: var(--pfc-green);                         /* Turn the border green on success */
    background-color: var(--pfc-transparent-green);         /* Turn the background transparent green on success */
}

/* UPLOAD ICON */
.my-project-file-upload-icon {
    width: 3rem;                                            /* Sets icon size */
    height: 3rem;                                           /* Sets icon size */
    fill: var(--pfc-gray);                                  /* Sets icon background */
    margin-bottom: 1.5rem;                                  /* Distance from upload icon to the text */
}

.my-project-file-upload-has-error .my-project-file-upload-icon {
    fill: var(--pfc-red);                                   /* Sets icon color on error */
}

.my-project-file-upload-has-file .my-project-file-upload-icon {    
    fill: var(--pfc-green);                                 /* Sets icon color on success */
}

/* ERROR MESSAGES */
.my-project-file-upload-error-message {
    margin-top: 0.75rem;                                    /* Sets distance to the drop down container */
    color: var(--pfc-red);                                  /* Sets error text color */
    text-align: left;                                       /* Sets the error messages position to the left */
}

html.dark .my-project-file-upload-error-message {
    color: var(--pfc-red);                                  /* Sets error text color in dark mode*/
}