/* UPLOAD LABEL */
.my-project-card-label{
    margin-bottom: 0.5rem;                                  /* Margin to the drop down section */
    font-weight: bold;                                      /* Sets the text to bold */
}

html.dark .my-project-card-label{
    color: var(--darkmode-font-color);                      /* Sets the text color to white in darkmode */
}

/* UPLOAD CONTAINER */
.drop-zone {
    border: 2px dashed var(--lightmode-nav);                /* Sets the border design */
    border-radius: 12px;                                    /* Sets the corner curveture */
    text-align: center;                                     /* Centers its text */
    background-color: var(--lightmode-lightestestest);      /* Sets its background color */
    align-items: center;                                    /* Centers its children */
    justify-content: center;                                /* Centers its children */
    display: block;                                         /* Cover the whole area of its parent */
    height: 350px;                                          /* Unclean set size */
    padding-top: 125px;                                     /* Sets distance to border */
}

html.dark .drop-zone{
    background-color: var(--darkmode-background);           /* Sets its background color in darkmode */
}

.drop-zone.has-error {
    padding-top: 150px;                                     /* Unclean set size on error */
    padding-bottom: 240px;                                     /* Unclean set size on error */
    border-color: var(--icon-red);                          /* Turn the border red on error */
    background-color: var(--icon-light-red);                /* Turn the background light red on error */
}

.drop-zone.has-file {
    border-color: var(--icon-green);                        /* Turn the border green on success */
    background-color: var(--icon-light-green);              /* Turn the background light green on success */
}

/* UPLOAD ICON */
.upload-icon {
    width: 48px;                                            /* Sets icon size */
    height: 48px;                                           /* Sets icon size */
    fill: var(--lightmode-light);                           /* Sets icon background */
    margin-bottom: 1.5rem;                                  /* Distance from upload icon to the text */
}

.has-error .upload-icon {
    fill: var(--icon-red);                                  /* Sets icon color on error */
}

.has-file .upload-icon {    
    fill: var(--icon-green);                                /* Sets icon color on success */
}

/* ERROR MESSAGES */
.error-message {
    color: var(--icon-red);                                 /* Sets error text color */
    margin-top: 0.75rem;                                    /* Sets distance to the drop down container */
    text-align: left;                                       /* Sets the error messages position to the left */
}

html.dark .error-message {
    color: var(--icon-red);                                 /* Sets error text color in dark mode*/
}