/* COLLAPSED SETTINGS BUTTON */
.my-navbar-settings-button-container {
    padding: 0;                         /* No padding for the container */
}

.my-navbar-settings-button {
    display: block;                     /* Display as a block element */
    padding: 0.75rem 1.125rem;          /* Sets the padding for the button */
    color: var(--pfc-black-lightest);   /* Default color */
}

html.dark .my-navbar-settings-button {
    color: var(--pfc-white);            /* Change color in dark mode */
}

.my-navbar-settings-icon {
    display: block;                     /* Display as a block element */
    padding-bottom: 0.063rem;           /* Adjusts the padding for the cog icon */
}

.my-navbar-settings-list {
    position: absolute;                         /* Position relative to parent */
    display: flex;                              /* Use flexbox for layout */
    top: 0.5rem;                                /* Align to the top */ 
    right: 2%;                                  /* Align to the right */
    align-items: center;                        /* Center items vertically */
    border-radius: 0.375rem;                    /* Rounded corners */
    cursor: pointer;                            /* Pointer cursor for interactivity */
    border: 1px solid var(--pfc-gray-light);    /* Border color */
    list-style: none;                           /* Inline-block for proper sizing */
}

html.dark .my-navbar-settings-list {
    border: 1px solid var(--pfc-white);         /* Border color in dark mode */
}

/* UNCOLLAPSED SETTINGS */
.my-navbar-settings-menu {
    position: absolute;                 /* Position relative to parent */
    display: flex;                      /* Use flexbox for layout */
    right: 2%;                          /* Align to the right */
    gap: 1rem;                          /* Space between items */
}

/* ANIMATIONS */
.menu-primary-enter {
    position: absolute;                 /* Position for entering animation */
    transform: translateX(-110%);       /* Start off-screen */
}

.menu-primary-enter-active {
    transform: translateX(0);           /* Move to on-screen */
    transition: all 500ms ease;         /* Smooth transition */
}

.menu-primary-exit {
    position: absolute;                 /* Position for exiting animation */
}

.menu-primary-exit-active {
    transform: translateX(-110%);       /* Move off-screen */
    transition: all 500ms ease;         /* Smooth transition */
}

.menu-sub-enter {
    position: absolute;                 /* Position for entering sub-menu */
    transform: translateX(-110%);       /* Start off-screen */
}

.menu-sub-enter-active {
    transform: translateX(0);           /* Move to on-screen */
    transition: all 500ms ease;         /* Smooth transition */
}

.menu-sub-exit {
    position: absolute;                 /* Position for exiting sub-menu */
}

.menu-sub-exit-active {
    transform: translateX(-110%);       /* Move off-screen */
    transition: all 500ms ease;         /* Smooth transition */
}


































.dropdown {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    width: max-content;
    background-color: #242526;
    border: 1px solid #474a4d;
    border-radius: 8px;
    overflow: hidden;
    transition: height 500ms ease;
    right: 0;
}

.menu {
    width: 100%;
}

.menu-item.theme-switcher-item {
    padding: 0; 
}

.menu-item.theme-switcher-item > * {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0  !important;
}
.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 500ms;
    padding: 0.5rem;
    text-decoration: none;
    color: #dadce1;
    padding: 0 1rem;
}

.menu-item:hover {
    background-color: #525357;
}