html.dark .my-dropdown-menu{
    background-color: #121212;
}

.my-dropdown-item {
    border: none;
    background: none;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

html.dark .my-dropdown-item {
    color: white;
    background: #121212;
}

.my-dropdown-item:hover {
    background-color: #CFCFCF;
    color: black;
}

html.dark .my-dropdown-item:hover {
    background-color: #181818;
    color: white;
}

.my-dropdown-item:focus,
.my-dropdown-item:focus:focus-visible,
.my-dropdown-item:focus:not(:focus-visible) {
    background-color: #B5B5B5;
    color: black;
}

html.dark .my-dropdown-item:focus,
html.dark .my-dropdown-item:focus:focus-visible,
html.dark .my-dropdown-item:focus:not(:focus-visible) {
    background-color: #181818;
    color: white;
}