.my-dropdown-toggle {   /* Standard */
    border: none;
    background: none;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.my-dropdown-toggle:hover{  /* When hovering */
    background-color: #CFCFCF;
    color: black;
}

.my-dropdown-toggle.show,   /* When holding another button pressed */
.my-dropdown-toggle:focus:not(:focus-visible) { /* When selected */
    background-color: #BEBEBE;
    color: black;
}