.my-icon-button {
    background: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    padding-bottom: 5px;
}

.my-icon-button:hover {
    background-color: #CFCFCF;
}