:root {
    /* Black and White */
    --pfc-white: #ffffff;
    --pfc-white-lightest: #f9f9f9;
    --pfc-white-lighter: #f2f2f2;
    --pfc-white-light: #edf2f7;
    --pfc-white-dark: #e7e7e7;
    --pfc-white-darker: #d9d9d9;
    --pfc-white-darkest: #cfcfcf;

    --pfc-gray-light: #b9b9b9;
    --pfc-gray: #b5b5b5;
    --pfc-gray-darker: #6c757d;

    --pfc-black-lightest: #4f5255;
    --pfc-black-lighter: #2e2e2e;
    --pfc-black-light: #282828;
    --pfc-black-dark: #222222;
    --pfc-black-darker: #181818;
    --pfc-black-darkest: #121212;
    --pfc-black: #000000;

    /* Colors */
    --pfc-red: #ff4444;
    --pfc-green: #48bb78;
    --pfc-blue: #007bff;
    --pfc-dark-blue: #006adc;

    /* Transparent Colors */
    --pfc-transparent-light: #ffffffe6;
    --pfc-transparent-dark: #000000e6;
    --pfc-transparent-green: #48bb780d;
    --pfc-transparent-red: #ff44440d;
}