.my-llm-sidebar {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: calc(100vh - 56px);
    background: var(--pfc-white);           /* Sets the cards background color */
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

html.dark .my-llm-sidebar {
    background: var(--pfc-black-dark);           /* Sets the cards background color */
}

.my-llm-sidebar.expanded {
    width: 240px;
}

.my-llm-sidebar-content {
    padding: 26px;
    opacity: 0;
    transition-delay: 1s;
}

.my-llm-sidebar-content.expanded {
    padding: 26px;
    opacity: 1;
    transition-delay: 0s;
}

.my-llm-sidebar-content h3 {
    font-size: 14px;
    color: var(--pfc-black);
    letter-spacing: 0.5px;
    white-space: nowrap;    
    overflow: hidden;       
}

html.dark .my-llm-sidebar-content h3 {
    color: var(--pfc-white);
}

.my-llm-submit-button {
    background-color: var(--pfc-blue);
    color: var(--pfc-white);
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: auto;
    height: 30px;
    width: 30px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.my-llm-submit-button.expanded {
    white-space: nowrap;    
    overflow: hidden;    
    width: 80%;
    margin-right: 24px;
    justify-content: center;
}

.my-llm-sidebar-toggle {
    position: absolute;
    right: 16px;
    top: 16px;
    border: none;
    background: var(--pfc-white);
    color:  var(--pfc-black);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    transition: none;
}

.my-llm-sidebar-toggle:hover {
    background: var(--pfc-white-dark);            /* Change button background color on hover */
    transform: scale(1.1);                            /* Increase button size on hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

html.dark .my-llm-sidebar-toggle{
    background: var(--pfc-black-dark);
    color: var(--pfc-white);
}

html.dark .my-llm-sidebar-toggle:hover{
    background: var(--pfc-black-lightest);          /* Change button background color on hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Mobile styles */
@media (max-width: 720px) {

    .my-llm-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .myllm-submit-button {
        opacity: 0;
    }

    .myllm-submit-button.expanded {
        opacity: 1;
    }

    .my-llm-sidebar.expanded {
        transform: translateX(0);
    }
}