.my-navbar {
    /* Makes the navbar stick to the top */
    position: sticky;
    top: 0;
    /* Defines Background color */
    background-color: #d9d9d9;
}

.my-navbar-brand {
    /* Gradual Margin */
    position: absolute;
    left: 2%;
    /* Makes the logo stick to the top, when burger menu opened */
    top: 7px;
}

.my-navbar-center {
    /* Defines the spaces between the pages */
    gap: 50px;
    /* Centers the page elements horizontally */
    margin: auto;
    /* Distance to the left to not be too close to the logo on smaller screens */
    padding-left: 4rem;
}

.my-navbar-settings,
.my-navbar-settings-dropdown {
    /* Gradual Margin */
    position: absolute;
    right: 2%;
}

.my-navbar-settings {
    /* Defines the spaces between the pages */
    gap: 20px;
}

.my-navbar-settings-dropdown {
    /* Makes the logo stick to the top, when burger menu opened */
    top: 1px;
}

.my-navbar-settings-dropdown .dropdown-menu {
    /* Makes the settings open to the left, instead of right (out of bounds) */
    right: 0;
    left: auto;
}

/* Before icon generation */
.my-navbar-settings-dropdown .my-navbar-settings-toggle:focus,
.my-navbar-settings-dropdown .my-navbar-settings-toggle:hover,
.my-navbar-settings-dropdown .my-navbar-settings-toggle {
    /* Specifies the Settings icon size */
    font-size: 24px;
    /* Define your size */
    height: 40px;
    width: 56px;
    /* Define border */
    border-radius: 0.4rem;
    border-color: #b9b9b9;
    /* Overwrite Bootstrap standard */
    background-color: transparent;
    /* Align icon vertically */
    display: flex;
    align-items: center;
    margin-top: 7px;
}

/* After icon generation */
.my-navbar-settings-toggle::after {
    /* Removes the standard arrow of the Bootstrap Dropdown Toggle */
    border: none;
}

.my-navbar-settings-cog {
    /* Settings icon color */
    color: #4f5255;
    /* Align icon horizontally */
    padding-left: 6px;
}

/* Responsiveness for the Burger Menu */
@media (max-width: 767px) {
    .navbar-toggler {
        margin-left: auto;
        /* 2% matches the settings container's margin from .my-navbar-settings-dropdown*/
        margin-right: calc(2% + 2cm);
    }
}