.my-navbar {
    /* Makes the navbar stick to the top */
    position: sticky;                   
    top: 0;                             
    /* Defines Background color */
    background-color: #d9d9d9;        
}

.my-navbar-brand {
    /* Gradual Margin */
    position: absolute;
    left: 2%;
    /* Makes the logo stick to the top, when burger menu opened */
    top: 10px;
}

.my-navbar-center {
    /* Defines the spaces between the pages */
    gap: 50px;   
    /* Centers the page elements horizontally */                       
    margin: auto;
}

.my-navbar-settings,
.my-navbar-settings-dropdown {
    /* Gradual Margin */
    position: absolute;
    right: 2%;
}

.my-navbar-settings {
    /* Defines the spaces between the pages */
    gap: 20px;
}

.my-navbar-settings-dropdown {
    /* Makes the logo stick to the top, when burger menu opened */
    top: 1px;
}

/* Before icon generation */
.my-navbar-settings-icon{
    /* Specifies the Settings icon size */
    font-size: 24px;
}

/* After icon generation */
.my-navbar-settings-icon::after {
    /* Removes the standard arrow of the Bootstrap Dropdown Toggle */
    border: none;
}

/* TODO */
/* Responsiveness for the Burger Menu */
@media (max-width: 767px) {
    .navbar-toggler {
        margin-left: auto;
        margin-right: 10%;
    }
}

@media (max-width: 575px) {
    .navbar-toggler {
        margin-left: auto;
        margin-right: 15%;
    }
}