.my-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Center navigation */
.center-nav {
    display: flex;
    gap: 50px;
    margin: auto;
}

/* Right icons container */
.right-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Logo on the left */
.navbar-brand {
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

/* Active link */
.active {
    border-bottom: solid black 2px;
}

/* Button icons */
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Remove background color from dropdown buttons */
#language-dropdown,
#env-dropdown {
    border: none;
    background: none !important;
    box-shadow: none;
    font-size: 16px;
    cursor: pointer;
}