/* CONTENT STYLING */
.my-app {
    background-color: var(--lightmode-background);
}

html.dark .my-app {
    background-color: var(--darkmode-background);
}

html.dark div {
    color: var(--darkmode-font-color)
}

.no-transition * {
    transition: none !important;
}