/* GLOBAL STYLING */
html, body {
    background-color: var(--lightmode-background);
}

html.dark, html.dark body {
    background-color: var(--darkmode-background);
    color: var(--darkmode-font-color)
}

.no-transition * {
    transition: none !important;
}