/* GLOBAL STYLING */
html, body {
    background-color: var(--pfc-white-light);
}

html.dark, html.dark body {
    background-color: var(--pfc-black-lighter);
    color: var(--pfc-white)
}

.no-transition * {
    transition: none !important;
}